<style>
  .row:nth-child(even){
    background: #EEEEEE;
  }
  .col:nth-child(odd){
    font-weight: 600;
  }
</style>
<ion-view title="About">

  <ion-content>
    <div>
      <div class="row">
        <div class="col col-34">Name</div>
        <div class="col">Bibooki NIV Bible</div>
      </div>
      <div class="row">
        <div class="col col-34">
          <b>Notice</b>
        </div>
        <div class="col">
          <p style="font-size: 16px;color:#ab0000;">
            Please change to use the <b>Bibooki Bible Reader</b> as a full version with full supported features.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col col-34">App version</div>
        <div class="col">1.0.7</div>
      </div>
      <div class="row">
        <div class="col col-34">Updated</div>
        <div class="col">2015 November 21</div>
      </div>
      <div class="row">
        <div class="col col-34">Copyright</div>
        <div class="col">Bibooki Mobile Studio</div>
      </div>
      <div class="row">
        <div class="col col-34">Homepage</div>
        <div class="col">http://bibooki.com</div>
      </div>
      <div class="row">
        <div class="col col-34">Message</div>
        <div class="col">
          <p style="font-size: 14px;">
            <br>
            please donate by <b>PAYPAL</b> to:
            <br>
            <b>LHViet88</b>
            <br>
          Thank you for your help. God stay with you.</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-34">Contact</div>
        <div class="col">Please send email to inform us your idea: LHViet88@gmail.com</div>
      </div>
    </div>
  </ion-content>

</ion-view>
